<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/tienda.css">
    <title>Tienda ARTS | for artist lovers</title>
</head>

<body>
    <header class="ppal">
        <section class="menu">
            <img src="/img/logo.png" class="menu__logo">
            <nav class="menu__nav" id="nav">
                <ul class="menu__list">
                    <li class="menu__item"><a href="/arquitectura">Arquitectura</a></li>
                    <li class="menu__item"><a href="/diseño">Diseño</a></li>
                    <li class="menu__item"><a href="/arte">Arte</a></li>
                    <li class="menu__item"><a href="/papeleria">Papelería</a></li>
                    <li class="menu__item"><a href="/escritura">Escritura</a></li>
                    <li class="menu__item"><a href="javascript:void(0);" class="icon" onclick="myFunction()"><i
                                class="fa fa-bars fa-lg"></i></a></li>
                </ul>
            </nav>
        </section>

        <article class="carrito">
            <h4 class="carrito__items"> 0 </h4>
            <!--img del carrito-->
        </article>

        <section class="banner">
            <div class="banner__orange">
                <article>
                    <p class="banner__arts">A</p>
                    <p class="banner__arts">AR</p>
                    <p class="banner__arts">ART</p>
                    <p class="banner__arts">ARTS </p>
                </article>

                <div class="banner__blue">
                    <article>
                        <p class="banner__arts">ARTS </p>
                        <p class="banner__arts">ART</p>
                        <p class="banner__arts">AR</p>
                        <p class="banner__arts">A</p>
                    </article>

                    <div class="banner__img">

                    </div>
                </div>
            </div>
        </section>
    </header>

    <section class="info">
        <h2 class="info__title">Titulo</h2>
        <p class="info__desc">Ofrecemos una alta gama de productos de arte y diseño. Además, nuestra tienda tiene
            varias ventajas.</p>
    </section>

    <section class="productos">
        <h2 class="productos__title">Productos</h2>
        <div class="filtro">
            <ul class="filtro__list">
                <li class="filtro__item filtro__first"><a href="/promociones">PROMOCIONES</a></li>
                <li class="filtro__item"><a href="/nuevo">NUEVO</a></li>
                <li class="filtro__item"><a href="/destacado">DESTACADO</a></li>
                <li class="filtro__item"><a href="/tienda">VER TODO</a></li>
            </ul>
        </div>
    </section>

    <section>
        <!--lo que hicimos en lab del viernes-->
        <h1>Tienda</h1>

        <ul>
            {{#each productos}}
            <li class="contenido">
                <!--con un arreglo de imagenes es asi-->
                <!--<img src="{{imagenes.[0]}}" alt="">-->
                <!--happy lo tiene con una sola imagen, so... es de otra forma-->
                <img src="{{imagen}}" width="200px">
                <h3>{{nombre}}</h3>
                <p>{{precio}}</p>
                <p>{{categoria}}</p>
            </li>
            {{/each}}
        </ul>
    </section>
    <h1>Productos categoria</h1>
    <section>
        <!--lo que hicimos en lab del viernes-->
        <h1>Tienda</h1>

        <ul>
            {{#each productosCategoria}}
            <li class="contenido">
                <!--con un arreglo de imagenes es asi-->
                <!--<img src="{{imagenes.[0]}}" alt="">-->
                <!--happy lo tiene con una sola imagen, so... es de otra forma-->
                <img src="{{imagen}}" width="200px">
                <h3>{{nombre}}</h3>
                <p>{{precio}}</p>
                <p>{{categoria}}</p>
            </li>
            {{/each}}
        </ul>
    </section>
</body>

</html>