<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">

    <!--icono-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/tienda.css">
    <title>Tienda ARTS | for artist lovers</title>
</head>

<body>
    <!--COMO HACER HERENCIA CON HANDLEBARS AIUDAAAAA-->
    {{> navbar}}

    <div class="carrito" onclick="location.href='/carrito'">
        <a class="carrito__items">0</a>
        <br>
        <i class="fas fa-shopping-cart fa-2x carrito__items"></i>
    </div>

    <section class="banner">
        <div class="banner__orange">
            <article>
                <p class="banner__arts banner__arts-a">A</p>
                <p class="banner__arts banner__arts-a">AR</p>
                <p class="banner__arts banner__arts-a">ART</p>
                <p class="banner__arts banner__arts-a">ARTS </p>
            </article>

            <div class="banner__blue">
                <article>
                    <p class="banner__arts banner__arts-b ">ARTS </p>
                    <p class="banner__arts banner__arts-b">ART</p>
                    <p class="banner__arts banner__arts-b">AR</p>
                    <p class="banner__arts banner__arts-b">A</p>
                </article>

                <div class="banner__img">
                    <img src="{{productoC.imagen}}" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="info">
        <h2 class="info__title">Arts</h2>
        <p class="info__desc">ARTS, for artist lovers es una empresa con la distribución de las más conocidas marcas
            mundiales de productos para hacer arte, arquitectura, diseño y hobbies. Todo el conocimiento y experiencia
            han sido trasladados a sus descendientes, y hoy adaptandonos a la modernización tecnológica y a las
            necesidades de nuestros clientes.
        </p>
    </section>

    <section class="productos">
        <h2 class="productos__title">Productos</h2>
        <div class="filtro">
            <ul class="filtro__list">
                {{#if categoria }}
                <li class="filtro__item filtro__first"><a href="/tienda/{{categoria}}?tipo=promo">PROMOCIONES</a></li>
                <li class="filtro__item"><a href="/tienda/{{categoria}}?tipo=nuevo">NUEVO</a></li>
                <li class="filtro__item"><a href="/tienda/{{categoria}}?tipo=destacado">DESTACADO</a></li>
                <li class="filtro__item"><a href="/tienda/{{categoria}}">VER TODO CON CATEGORIA</a></li>
                {{else}}
                <li class="filtro__item filtro__first"><a href="/tienda?tipo=promo">PROMOCIONES</a></li>
                <li class="filtro__item"><a href="/tienda?tipo=nuevo">NUEVO</a></li>
                <li class="filtro__item"><a href="/tienda?tipo=destacado">DESTACADO</a></li>
                <li class="filtro__item"><a href="/tienda">VER TODO SIN CATEGORIA</a></li>
                {{/if}}
            </ul>
        </div>
    </section>

    <!--mi lista-->
    <section class="contenedor">
        <ul class="contenedor__lista">
            {{#each productos}}
            <li class="contenedor__lista-item">
                <a href="/tienda/producto/{{_id}}">
                    <input type="hidden" class="item__id" value="{{_id}}">
                    <img class="item__img" src="{{imagen}}">
                    <h3 class="item__nombre">{{nombre}}</h3>
                    <p class="item__precio">${{precio}}</p>
                    <input type="hidden" class="item__c" value="{{categoria}}">
                    <input type="hidden" class="item__t" value="{{tipo}}">
                </a>
                <button class="item__btn item__btn1">Agregar al carrito</button>
            </li>
            {{/each}}
        </ul>
    </section>

    <script src="/scripts/tienda.js"></script>
</body>

</html>